<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit (Cancel)</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cancel</ion-button>
      <ion-button (click)="save()">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-label class="ion-text-wrap">
      Edit one of the fields below, then tap the <strong>Save</strong> button to save your changes, and the <strong>Cancel</strong>button to disgard changes, then return to the <strong>Home Page</strong>.    </ion-label>
    <ion-item>
      <ion-label><strong>Field 1</strong></ion-label>
      <ion-input type="text" [(ngModel)]="tempObject.field1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><strong>Field 2</strong></ion-label>
      <ion-input type="text" [(ngModel)]="tempObject.field2"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>