<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit (No Cancel)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-label class="ion-text-wrap">
      Edit one of the fields below, then tap the arrow button to return to the <strong>Home Page</strong>. You should
      see your changes reflected there automatically.
    </ion-label>
    <ion-item>
      <ion-label><strong>Field 1</strong></ion-label>
      <ion-input type="text" [(ngModel)]="dataObject.field1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><strong>Field 2</strong></ion-label>
      <ion-input type="text" [(ngModel)]="dataObject.field2"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>